
@{
    ViewBag.Title = "Completada";
}

<div class="row my-5">
    <div class="col-md-8 offset-md-2 bg-white material-shadow text-center">
        <h3 class="fnt-Italianno fg-purple my-5">Gracias por su compra</h3>
        <p class="text-secondary my-4">Atenderemos su orden de inmediato. Te enviamos un correo con los datos de tu compra. Si tienes alguna pregunta llámame al @ConfigurationManager.AppSettings["TelefonoHayny"];</p>
    </div>
</div>

    