@model HaynyBatista.Models.Cita

@{
    Layout = "~/Views/Shared/_MailLayout.cshtml";
}
<table>
    <tr>
        <td>
            <h3>@Model.Usuarios.First().Nombre @Model.Usuarios.First().Apellido, </h3>
        </td>
    </tr>
    <tr>
        <td>
            <p>Hemos recibido su solicitud de cita y nos estaremos comunicando con usted por esta por esta v&iacute;a para confirmar la fecha y la hora de la cita.</p>
        </td>
        
    </tr>
    <tr>
        <td>
            <p>Atentamente:</p>
            <p>Hayny Batista</p>
        </td>
    </tr>
</table>