@model HaynyBatista.Models.Cita

@{
    Layout = null;
}

<p> @if (DateTime.Now.Hour >= 18 || DateTime.Now.Hour < 6) { <text>Buenas Noches</text>}
else if (DateTime.Now.Hour >= 6 || DateTime.Now.Hour < 12) { <text>Buenos Dias</text>}
else { <text>Buenas Tardes</text>} Señor(a) @Model.Usuarios.First().Apellido:<br /><br /></p>
<div>Sirve al presente para confirmarle que su solictud de cita ha sido recibida.</div>
<div>&nbsp;</div>
<div>Nos estaremos comunicando con usted por esta v&iacute;a para confirmar la fecha y la hora.</div>
<div>&nbsp;</div>
<div>Atentamente:</div>
<div><br /><br />Hayny Batista</div>