@model HaynyBatista.Models.IndiceConsulta

@{
    ViewBag.Title = "Index";
}
@section head{
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Fjalla+One" rel="stylesheet">
}
<!--<div class="row py-4" style="margin-top: -20px">
    <div class="col-md-2 offset-md-1">
        <img class="img-fluid img-thumbnail rounded-circle img-Hayny" src="~/Content/Images/HaynyPq.jpg" />
    </div>
    <div class="col-md-9 text-center">
        <h2 class="text-center fnt-Italianno fg-purple font-weight-bold">Hayny Batista</h2>
        <h4 class="text-center fnt-Italianno fg-purple font-weight-bold" style="margin-top: -10px">Psicóloga terapeuta</h4>
        <p class="fnt-Roboto">Bienvenido a este espacio donde puedes consultar los múltiples servicios psicológicos que ofrezco: terapia individual o de pareja o, productos de estimulación sexual, y artículos educativos para una vida en plenitud. Espero sea de utilidad para ti.</p>
        <a href="#calendar" id="btnSolicitarCita" class="SmoothScroll p-3 bg-purple d-inline-block mx-auto"> Solicitar Cita</a>
    </div>
</div>-->
    <div class="row py-4 bg-Gray firstRow">
        <div class="col-md-2 col-12 p-3 offset-md-1 col-sm-12 d-flex align-items-center">
            <div class="ImageContainer"></div>
            <!--<img class="img-fluid img-thumbnail rounded-circle img-Hayny" src="~/Content/Images/HaynyPq.jpg" />-->
        </div>
        <div class="col-md-6 p-3 col-sm-12 offset-md-1 text-center" style="background-color: white;">
            <h2 class="text-center fnt-Italianno fg-purple font-weight-bold">Hayny Batista</h2>
            <h4 class="text-center fnt-Italianno fg-purple font-weight-bold" style="margin-top: -10px">Psicóloga terapeuta</h4>
            <p class="fnt-Roboto" style="font-size: 17px">Bienvenido a este espacio donde puedes consultar los múltiples servicios psicológicos que ofrezco: terapia individual o de pareja o, productos de estimulación sexual, y artículos educativos para una vida en plenitud. Espero sea de utilidad para ti.</p>
            <a href="#calendar" id="btnSolicitarCita" class="SmoothScroll p-3 bg-purple d-inline-block mx-auto"> Solicitar Cita</a>
        </div>
    </div>
<!--<div class="LandingImageBg fakeRow firstRow">
    <div class="ImageLayer">
        <div class="ImageContainer">

        </div>
        <div class="ImageContent">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pellentesque semper nisi eu lacinia. Nam posuere justo non elit malesuada, eget suscipit urna elementum. Phasellus laoreet est diam, ut malesuada nisi finibus vitae. Nullam eget libero nec sapien varius ultricies nec fringilla purus. Sed mollis cursus lorem, rutrum mollis leo efficitur sed. Aliquam ullamcorper cursus libero sit amet facilisis. Vestibulum vitae faucibus arcu, et sagittis nisi. Phasellus pulvinar diam eget semper tempus. Donec mollis pellentesque est, congue eleifend ipsum bibendum ut. Sed pretium feugiat rutrum. Praesent aliquam arcu eget lectus hendrerit tempor. Aenean libero augue, eleifend ac fermentum in, fringilla sed nibh. Curabitur bibendum porta enim, in luctus diam posuere sed. Ut dictum dui lacus, a dictum odio consectetur ac. Suspendisse placerat sapien et turpis consectetur dictum.

                Nulla tempor vestibulum interdum. Fusce viverra vehicula nisi eget egestas. Praesent accumsan ut nibh et ultricies. Maecenas elit velit, molestie id erat at, viverra tincidunt urna. Vestibulum sagittis pretium justo, sit amet tempor ante pellentesque ac. Aenean pharetra est tellus. In nec pellentesque mi, ut scelerisque velit. Morbi ullamcorper dolor est, blandit rhoncus diam pharetra a. Phasellus a tellus nisi. Integer rhoncus tincidunt nulla, bibendum vulputate tortor malesuada gravida. Sed vel egestas dolor. Vivamus rutrum porta metus. Aliquam vulputate mauris ante, eu maximus dui scelerisque quis. Sed pretium, ipsum id porttitor pretium, felis lacus porttitor neque, ut faucibus tortor velit sit amet dui. Nulla sit amet dictum neque.
            </p>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="SummaryDiv w-100">
        <h3 class='text-center mt-4 fg-purple font-weight-bold SummaryDivTitle'>Terapias</h3>
        <div class="d-flex w-100 justify-content-around SummaryContainer">
            <div class='d-flex mt-3 p-2 flex-column SummaryElement fg-purple'>
                <img class='SummaryImg img-fluid' src='~/Content/Images/Skype.jpeg' />
                <h3 class='text-center mt-4 SummaryElementTitle'>Skype</h3>
                <span class="SummaryElementDescription">La alternativa para que lleves tu tratamiento aunque no puedas asistir al consultorio, ya sea porque vives en una provincia del interior de la república Dominicana, o en otro país. Tiene las mismas características que una terapia normal, sólo que es vía Skype desde la comodidad de tu hogar u oficina.</span>
            </div>
            <div class='d-flex mt-3 p-2 flex-column SummaryElement fg-purple'>
                <img class='SummaryImg img-fluid' src='~/Content/Images/Pareja.jpeg' />
                <h3 class='text-center mt-4 SummaryElementTitle'>Pareja</h3>
                <span class="SummaryElementDescription">
                    Con el proposito de resolver conflictos que afectan la sana dinamica marital, conflictos sociales, familiares, economico, sexuales, y psicologicos, educando y fortaleciendo los puntos positivos de la relacion y conjuntamente modificando los negativos.
                    Un acompañamiento en el proceso del divorcio y los niños, como superar el duelo ante la ruptura matrimonial
                </span>
            </div>

            <div class='d-flex mt-3 p-2 flex-column SummaryElement fg-purple'>
                <img class='SummaryImg img-fluid' src='~/Content/Images/Individual.jpeg' />
                <h3 class='text-center mt-4 SummaryElementTitle'>Individual</h3>
                <span class="SummaryElementDescription">Su objetivo es ayudarte con el sentimiento de soledad, angustia e inseguridad, mejorar tu autoestima, aliviar traumas de infancia, aprender a ser asertivo, terapias sexuales para tratar las disfunciones sexuales y reducir los tabúes sociales, educación para empoderarte y lograr la igualdad de genero, acompañamiento en el duelo por perdida de la pareja, de seres queridos, así como orientarte y educar para lograr tener una estabilidad emocional</span>
            </div>
        </div>
    </div>
    <div class="DetailsDiv d-flex">
        <div class='d-flex DetailsDivImageContainer flex-column justify-content-center'>
            <img class='m-3 img-fluid img-thumbnail DetailsImage' src='~/Content/Images/Skype.jpeg' />
        </div>
        <div class='d-flex DetailsDivDescriptionContainer flex-column justify-content-around m-3'>
            <h2 class="my-3 text-center DetailTitle fg-purple font-weight-bold">Skype</h2>
            <span class="text-justify DetailDescription">Su objetivo es ayudarte con el sentimiento de soledad, angustia e inseguridad, mejorar tu autoestima, aliviar traumas de infancia, aprender a ser asertivo, terapias sexuales para tratar las disfunciones sexuales y reducir los tabúes sociales, educación para empoderarte y lograr la igualdad de genero, acompañamiento en el duelo por perdida de la pareja, de seres queridos, así como orientarte y educar para lograr tener una estabilidad emocional</span>
            <a href="#calendar" class='SmoothScroll p-3 haynyBtn bg-purple d-inline-block mx-auto'>Reservar</a>
        </div>
    </div>
</div>
<div class="row py-4 bg-Gray">
    <div id="calendar" class="my-2 p-3 bg-white text-black col-md-10 offset-md-1 "></div>
</div>
<div class="row bg-Gray py-3">
    <div class="col-md-8 offset-md-2 ContactoCard">
        <div class="ContactoFormContainer">
            <h3 class="Title fg-purple">Contacto</h3>
            <form class="ContactoForm">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <input type="text" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="col-md-6 col-12">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Teléfono">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="exampleFormControlTextarea1">Mensaje</label>
                        <textarea class="form-control" rows="4"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="ContactoOtherContainer">
            <div class="Cards">
                <div class="Other">
                    <h5 class="Title fg-purple">Email</h5>
                    <span>HaynyBatista@haynybatista.com</span>
                </div>
                <div class="Other">
                    <h5 class="Title fg-purple">Teléfono</h5>
                    <span>829-846-5445</span>
                </div>
                <div class="Other">
                    <h5 class="Title fg-purple">Dirección</h5>
                    <span>Calle Alexander Fleming #24, esq. Ortega y Gasset, Santo Domingo</span>
                </div>
                <div class="Other">
                    <h5 class="Title fg-purple">Horario</h5>
                    <span>Lunes - Sábado : 9:30 A.M - 12:30 P.M</span>
                </div>
            </div>
            <div class="RedesSociales">
                <a href="https://twitter.com/hayny452" target="_blank"><span class="fa fa-stack fa-1x"><i class="fa fa-circle fa-stack-2x fg-twitter"></i><i class="fa fa-twitter fa-stack-1x fg-white"></i></span></a>
                <a href="https://www.facebook.com/serhumanopleno" target="_blank"><span class="fa fa-stack fa-1x"><i class="fa fa-circle fa-stack-2x fg-facebook"></i><i class="fa fa-facebook fa-stack-1x fg-white"></i></span></a>
                <a href="https://instagram.com" target="_blank"><span class="fa fa-stack fa-1x"><i class="fa fa-circle fa-stack-2x fg-transparent bg-instagram border-circle"></i><i class="fa fa-instagram fa-stack-1x fg-white"></i></span></a>
                <a href="https://plus.google.com/u/0/115803580774544590774" target="_blank"><span class="fa fa-stack fa-1x"><i class="fa fa-circle fa-stack-2x fg-gplus"></i><i class="fa fa-google-plus fa-stack-1x fg-white"></i></span></a>
                <a href="https://www.youtube.com/channel/UCspPMJn7Igtu0wBck3JNNdg" target="_blank"><span class="fa fa-stack fa-1x"><i class="fa fa-circle fa-stack-2x fg-youtube"></i><i class="fa fa-youtube-play fa-stack-1x fg-white"></i></span></a>
            </div>
        </div>
        <div id="mapaConsultorioHayny" style="margin: 10px 0">

        </div>
        
    </div>

</div>
@section OutsideContainer{
    <form id="frmNuevaCita" method="post">
        <div class="modal fade" id="NuevaCita">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="d-flex flex-row-reverse">


                        </div>



                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mw-100">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 ">
                                    @*<h4 class="mt-1 ">Horas Disponibles</h4>
                                    <div id="FechasDisponibles" class="mt-3 d-flex justify-content-around">

                                    </div>

                                    <h4 class="mt-1">Tipo de Cita</h4>
                                    <div id="TiposCita" class="mt-3 d-flex justify-content-around">

                                        <a class="btnTipoCita btn btn-info m-2 text-white" data-idTipo="2"><i class="fa fa-skype"></i> Skype</a>
                                        <a class="btnTipoCita btn btn-info m-2 text-white" data-idTipo="2"><i class="fa fa-user"></i> Consultorio</a>
                                    </div>
                                    <h4 for="txtMensaje">Mensaje</h4>
                                    <textarea class="form-control" id="txtMensaje" rows="3"></textarea>
                                    <h4 class="mt-2 headerTotalConsulta" style="opacity: 0">Total: <span class="text-info" id="totalConsulta">RD$2000</span></h4>
                                    <div id="MetodosPagoConsulta" class="" style="opacity: 0">
                                        <h4 class="mt-1 ">Metodos de pago</h4>
                                        <div class="d-flex justify-content-around">
                                            <a class="btnTipoPago btn btn-info m-2 text-white" data-idTipo="2"><i class="fa fa-paypal"></i> Paypal</a>
                                            <a class="btnTipoPago btn btn-info m-2 text-white" data-idTipo="2"><i class="fa fa-money"></i> Consultorio</a>

                                        </div>

                                    </div>
                                    <button class="btn btn-block btn-success" id="btnReservarCita">Reservar</button>
                                    <input type="text" class="d-none" id="txtFechaInicio" />
                                    <input type="text" class="d-none" id="txtFechaFin" />*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
<div class="SlideDivContainer" id="OptionsSlideDiv">
    <div class="SlideDiv" title="Horarios">
        <div class="d-flex justify-content-around flex-column w-100" id="FechasDisponibles" >

        </div>
    </div>
    <div class="SlideDiv" title="Tipo de Cita">
        <div class="d-flex justify-content-around flex-column w-100" id="TiposCita">
            @foreach (var i in Model.TiposCita)
            {
                <div data-TipoCita="@i.IdTipoCita" class="d-flex flex-column justify-content-center SlideDivFormOption w-50 my-2" style="margin: 0 auto ">
                    <div class='text-center py-4'>
                        <h5 class=''>@i.Nombre</h5>
                        <h6>RD$@i.Costo</h6>
                    </div>
                </div>
            }
        </div>
        
    </div>
    <div class="SlideDiv" title="Forma de Pago">
        <div class="d-flex justify-content-around flex-column w-100" id="FormasPago">
            @foreach (var i in Model.FormasPago)
            {
                <div data-formapago="@i.FormaPagoID" class="d-flex flex-column justify-content-center SlideDivFormOption w-50 my-2" style="margin: 0 auto ">
                    <div class='text-center py-4'>
                        <h5 class=''>@i.Nombre</h5>
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="SlideDiv" title="Mensaje">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <textarea class="form-control" id="txtMensaje" rows="5"></textarea>
            </div>
        </div>
        
        <div class="d-flex justify-content-center">
            <input id="btnReservarCita" type="button" class="p-3 haynyBtn bg-purple my-3 mx-0" value="Reservar" />
        </div>
        <input type="text" class="d-none" id="txtFechaInicio" />
        <input type="text" class="d-none" id="txtFechaFin" />
        <input type="text" class="d-none" id="txtTipoCita" />
        <input type="text" class="d-none" id="txtFormaPago" />


    </div>
</div>
}
@section Scripts{
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDeN4HSjQCeTc-2xptNHY0kHVD0v_m5Qg	&callback=initMap">
    </script>
    <script>
        //Mapa Inicio
        function initMap() {
            var uluru = { lat: 18.491604, lng: -69.922173};
            var map = new google.maps.Map(document.getElementById('mapaConsultorioHayny'), {
                zoom: 18,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }

        function validarCita() {
            var retorno;
            if (!$("#txtFechaInicio").val() || !$("#txtFechaFin").val()) {
                Notificar("","No hay hora seleccionada.");
                return false;
            }

            if (!$("#txtTipoCita").val()) {
                Notificar("","No hay tipo de cita seleccionada.")
                return false;
            }

            if (!$("#txtFormaPago").val()) {
                Notificar("", "No hay forma de pago seleccionada.")
                return false;
            }
            return true
        }

        function grabarCita() {
            if (validarCita()) {
                Notificar("","Grabando");
                var data = {
                    FechaInicio: $("#txtFechaInicio").val(),
                    FechaFin: $("#txtFechaFin").val(),
                    Mensaje: $("#txtMensaje").val(),
                    IdTipoCita: $("#txtTipoCita").val(),
                    FormaPagoID: $("#txtFormaPago").val()
                }
                
                $.ajax({
                    url: "/Consulta/GuardarCita",
                    data: JSON.stringify(data),
                    type: "POST",
                    async: true,
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        $('#NuevaCita').modal('hide');
                        if (result.Success) {
                            Notificar("", "<p>" + result.Message + "</p>");
                            $("#calendar").fullCalendar('refetchEvents');
                            //setTimeout(function () {
                            //    location.reload();
                            //}, 2000)
                        } else {
                            Notificar("asd", "<p>" + result.Message + "</p>");
                        }
                    },
                    error: function (errorMessage) {
                        alert(errorMessage.responseText);
                    }
                });
                limpiarCita();
            }
        }
        function cargarEventosMes() {
            $.ajax({
                url: "/Consulta/GetEventosMes",
                type: "GET",
                async: true,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    //$('#NuevaCita').modal('hide');
                    //if (result.Success) {
                    //    Notificar("", "<p>" + result.Message + "</p>");
                    //    //setTimeout(function () {
                    //    //    location.reload();
                    //    //}, 2000)
                    //} else {
                    //    Notificar("asd", "<p>" + result.Message + "</p>");
                    //}
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });
            return true;
        }
        function limpiarCita() {
            $("#FechasDisponibles .SlideDivFormOption").removeClass("Active");
            $("#TiposCita .SlideDivFormOption").removeClass("Active");
            $("#FormasPago .SlideDivFormOption").removeClass("Active");
            $("#txtMensaje").val("");
            $("#txtFechaInicio").val("");
            $("#txtFechaFin").val("");
        }
        $(document).ready(function () {
            var HorasDeTrabajo = [
                {
                    inicio: new Date((new Date()).getFullYear(), 1, 1, 9, 30),
                    fin: new Date((new Date()).getFullYear(), 1, 1, 10, 30)
                },
                {
                    inicio: new Date((new Date()).getFullYear(), 1, 1, 10, 30),
                    fin: new Date((new Date()).getFullYear(), 1, 1, 11, 30)
                },
                {
                    inicio: new Date((new Date()).getFullYear(), 1, 1, 11, 30),
                    fin: new Date((new Date()).getFullYear(), 1, 1, 12, 30)
                }
            ];




            $(".SlideDivContainer").SlideMyDivs();
            var SlideDiv = $("#OptionsSlideDiv").detach();
            
            //Mapa fin
            $(".ImageBannerTextTitle").addTempClass({
                className: "animated fadeInDown"
            });
            $("#NuevaCita .modal-body .col-md-12").append(SlideDiv);

            $(".btnTipoCita").click(function () {
                $(".btnTipoCita").removeClass("btn-danger");
                $(".btnTipoCita").addClass("btn-info");
                $(this).removeClass("btn-info");
                $(this).addClass("btn-danger");
                $(".headerTotalConsulta").addClass("animated fadeIn");
                $("#MetodosPagoConsulta").addClass("animated fadeIn");

            });
            $(".btnTipoPago").click(function () {
                $(".btnTipoPago").removeClass("btn-danger");
                $(".btnTipoPago").addClass("btn-info");
                $(this).removeClass("btn-info");
                $(this).addClass("btn-danger");
            });
            setTimeout(function () {
                $(".ImageBannerTextSubTitle").addClass("animated fadeInDown");
                $("#btnSolicitarCita").addClass("animated fadeInDown")
            }, 500)
            $("#calendar").fullCalendar({
                defaultView: $(window).width() < 765 ? 'basicDay' : 'month',
                locale: "es",
                aspectRatio: 2.0,
                events: "/Consulta/GetEventosMes/",
                eventRender: function (event, element) {
                    $(element).css("display", "none");
                },
                dayClick: function (date, jsEvent, view) {

                    var fechaClickeada = new Date(date.format());

                    var caca = new Date(fechaClickeada.getFullYear() + 1, fechaClickeada.getMonth(), fechaClickeada.getDate + 1)
                    
                    //console.log(caca);
                    fechaClickeada.setDate(fechaClickeada.getDate() + 1);
                    if (fechaClickeada.getDay() == 0) {
                        $(this).css("transition", "background-color 1s");
                        $(this).addTempClass({
                            className: "bg-danger",
                            timeOut: 500
                        });
                        Notificar(" ", "Dia no disponible");
                    } else {
                        var eventosArray = $("#calendar").fullCalendar('clientEvents');
                        console.log(eventosArray);
                        eventosArray = eventosArray.filter(function (e) {
                            var fechaFiltrada = new Date(e.start["_i"]);
                            if (fechaClickeada.getFullYear() == fechaFiltrada.getFullYear() && fechaClickeada.getMonth() == fechaFiltrada.getMonth() && fechaClickeada.getDate() == fechaFiltrada.getDate()) {
                                return e
                            }
                        });
                        console.log(eventosArray);
                        var HorasDisponibles = [];
                        //Encuentrame las horas que no estan en los eventos
                        HorasDeTrabajo.forEach(function (hora) {
                            var horasTemp = eventosArray.filter(function (ev) {
                               
                                if (isSameTime(hora.inicio, new Date(ev.start["_i"]))) {
                                    return hora;
                                }
                            });

                            
                            
                            if (horasTemp.length === 0) {
                                HorasDisponibles.push(hora);
                            }
                        });
                        
                        $(this).css("transition", "background-color 1s");
                        $(this).addTempClass({
                            className: "bg-success",
                            timeOut: 500
                        });
                        if (HorasDisponibles.length > 0) {
                            HorasDisponibles.forEach(function (hora) {
                                var horaInicio = moment(new Date(fechaClickeada.getFullYear(), fechaClickeada.getMonth(), fechaClickeada.getDate(), hora.inicio.getHours(), hora.inicio.getMinutes())).format('YYYY-MM-DD[T]HH:mm:ss');
                                
                                var horaFin = moment(new Date(fechaClickeada.getFullYear(), fechaClickeada.getMonth(), fechaClickeada.getDate(), hora.fin.getHours(), hora.fin.getMinutes())).format('YYYY-MM-DD[T]HH:mm:ss');

                                $("#FechasDisponibles").append(
                                    $("<div>", {
                                        class: "d-flex flex-column justify-content-center SlideDivFormOption w-50 my-2"
                                    }).data("FechaInicio", horaInicio).data("FechaFin",horaFin).css({ "margin": "0 auto" }).append($("<div>", {
                                        class: "text-center py-4"
                                        }).append($("<h5>", {
                                            text: hora.inicio.getHours() + ":" + hora.inicio.getMinutes() + " - " + hora.fin.getHours() + ":" + hora.fin.getMinutes()
                                            }))).click(function () {
                                                $(this).parent().find(".SlideDivFormOption").removeClass("Active");
                                                $(this).toggleClass("Active");
                                                $("#txtFechaInicio").val($(this).data("FechaInicio"));
                                                $("#txtFechaFin").val($(this).data("FechaFin"));
                                        }))
                                    

                            })
                            $("#dayAgenda").fullCalendar('destroy');
                            $("#dayAgenda").fullCalendar({
                                locale: "es",
                                events: eventosArray,
                                header: {
                                    left: 'title',
                                    center: '',
                                    right: ''
                                }
                            });
                            $('#NuevaCita').on('hidden.bs.modal', function (e) {
                                $("#FechasDisponibles").empty();
                                $('#dayAgenda').css("opacity", '0');
                            })
                            $('#NuevaCita').modal('show');
                            setTimeout(function () {
                                $('#dayAgenda').fullCalendar('changeView', 'listDay', fechaClickeada)
                                $('#dayAgenda').addTempClass({ className: 'animated fadeIn' })
                                $('#dayAgenda').css("opacity", '1');
                            }, 500)
                        } else {
                            //$("#FechasDisponibles").append("<p class='LowImportance'>No hay horas disponibles</p>");
                            Notificar(" ", "No hay horas disponibles");
                            $(this).css("transition", "background-color 1s");
                            $(this).addTempClass({
                                className: "bg-danger",
                                timeOut: 500
                            });
                        }


                        //console.log(eventosArray);


                        //alert('Clicked on: ' + date.format());

                        //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);

                        //alert('Current view: ' + view.name);

                        // change the day's background color just for fun
                        
                    }
                    //Obtiene los eventos del calendario de este dia
                    

                }
            });
            $("#TiposCita .SlideDivFormOption ").click(function () {
                $(this).parent().find(".SlideDivFormOption").removeClass("Active");
                $(this).toggleClass("Active");
                var TipoCita = $(this).data("tipocita");
                $("#txtTipoCita").val(TipoCita);
            });
            $("#FormasPago .SlideDivFormOption ").click(function () {
                $(this).parent().find(".SlideDivFormOption").removeClass("Active");
                $(this).toggleClass("Active");
                var FormaPago = $(this).data("formapago");
                $("#txtFormaPago").val(FormaPago);
            });
            $("#btnReservarCita").click(function () {
                grabarCita();
            });
            $(".SummaryElement").click(function () {
                var that = this;
                $(".DetailsDiv .DetailsImage").attr("src", $(this).find(".SummaryImg").attr("src"));
                $(".DetailsDiv .DetailDescription").text($(this).find(".SummaryElementDescription").text());
                $(".DetailsDiv .DetailTitle").text($(this).find(".SummaryElementTitle").text());
                $(".DetailsDiv").toggleClass("Showed");
            });
            $(".DetailsDiv").click(function () {
                $(".DetailsDiv").toggleClass("Showed");
            });
        });
    </script>
}