@model Carrito
<div class="NavIcon"><a href="@Url.Action("Index","Carrito")"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="badge badge-pill bg-purple">@Model.Lineas.Count()</span></a></div>