header {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    width: 100%;
    background-color: white;
    overflow: visible;
    padding: 5px 0;
    flex-wrap: wrap;
}
.UpperMenu, .LowerMenu {
    display: flex;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .UpperMenu, .LowerMenu {
        flex-direction: column;
    }
}
@media only screen and (max-width: 600px) {
    .img-Hayny {
        border: 0;
        border-radius: 0 !important;
    }
}

#MenuDivider {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    transition: width .5s ease, background-color .5s ease;
    width: 0%;
    background: transparent;
    color: transparent;
}

.NavLink a {
    color: #333;
    /*background-color: #262626;*/
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.NavLink:hover a {
    color: #9d6d92;
}

@media (max-width: 576px){
    .NavTogglerContainer {
        display: flex;
        order: 1;
    }

    .logo{
        display: flex;
        order: 1;
    }

    .UserLinks{
        order: 1;
    }

    .NavLinks{
        order: 2;
        flex-direction:column;
        width: 100%;
        display:none !important;
    }

    .NavLinks.active{
        display:flex !important;
    }

    .NavLinks .NavLink{
        width: 100%;
    }
}

.NavLink {
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.NavIcon {
    margin: 1px 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



    .NavIcon a {
        color: #797979;
        padding: 15px;
        display: flex;
        justify-content: center;
        text-decoration: none;
        transition: all .5s ease-in-out;
    }

        .NavIcon a:hover {
            color: #a86d9b;
        }

        .NavIcon a .NavIconStack {
            color: #54ae69;
        }

.NavLink a {
    font-size: 18px;
}

.logo {
    padding: 5px 5px;
}

#UserLinks {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    margin: 0px 20px 0px 0px;
    position: relative;
    transition: all linear 0.3s;
}
    #UserLinks .NavIcon .DropdownLink + .DropDownMenu {
        display: none;
        position: absolute;
        width: 135px;
    }
    #UserLinks .NavIcon .DropdownLink:hover + .DropDownMenu {
        display: block;
    }

.LowerLink:after {
    content: '';
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 0px;
    border-radius: 5px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}


.LowerLink:hover:after {
    width: 100%;
    background: #9d6d92;
}

.NavIcon a .fa {
    padding-right: 5px;
}

/*
    INICIO custom bootstrap for Nav

*/
.dropdown-toggle::after {
    display: none
}

.dropdown-toggle:focus {
    outline: none !important;
}



.menu .dropdown-menu {
    background-color: white;
}

.menu .dropdown-item {
    color: #333;
    background-color: white;
}

.menu .dropdown:hover > .dropdown-menu {
    display: block;
}

    .menu .dropdown-item:hover {
        color: #a86d9b;
    }
/* Fin custom bootstrap

*/