body {
    background-color: #eeeeee;
}

.RegisterFormContainer {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}
.control-label {
    color: #292929;
}

.haynyBtn{
    padding: 5px;
    border: none;
    text-decoration: none !important;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}

.returnButton {
    color: white;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: right 0.5s;
    outline: none !important;
}

.returnButton:hover{
    right: 20px;
}

.hr-text:before {
    content: '';
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#d9534f), to(transparent));
    background: linear-gradient(to right, transparent, #d9534f, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

    .hr-text:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;
        padding: 0 .5em;
        line-height: 1.5em;
        color: #d9534f;
        background-color: #fcfcfa;
    }
    .rb{
        border-right: 1px solid white;
    }

.modal-lg{
    max-width: 90% !important;
}

.TitleInput {
    width: 100%;
    font-family: sans-serif;
    border: none;
    font-size: 32px;
    outline: none !important;
}

.ExpandingTextArea {
    resize: none;
    overflow: hidden;
}

#accordion{
    width: 100%;
}

.SettingHeader{
    border-radius: 0 !important;
    background-color: white !important;
}

.flip180 {
    transform: rotate(-180deg);
}

.flip90Positive {
    transform: rotate(90deg);
}
.SettingHeaderArrow {
    margin-right: 0;
    margin-left: auto;
    color: #ff4444;
    text-align: right;
    transition: all 1s ease;
}

    .SettingHeaderArrow:hover {
        color: #CC0000
    }

.SettingHeader a {
    color: #ff4444;
    text-decoration: none;
    transition: all 1s ease;
}

.SettingHeader a:hover {
    color: #CC0000;
}
.flip90egative {
    transform: rotate(-90deg);
}

.ImagePreviewContainer{
    min-height: 150px;
}

.snackbar {
    visibility: hidden; 
    min-width: 250px;
    margin-left: -125px; 
    background-color: #333; 
    color: #fff;
    text-align: center; 
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}


    .snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.FechaArticulo{
    display: flex;
    align-items: center;
    justify-content:center;
}
.articulo {
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.PageLink {
    color: #ff4444;
    text-decoration: none !important;
}

    .PageLink:hover {
        font-weight: bold;
        color: #ff4444;
    }

.LowImportance{
    font-size: 14px;
    color: gray;
}

.FechaArticulo span {
    background: #fff;
    color: gray;
    margin: 0 15px;
    font-size: 14px;
}

.FechaArticulo:after {
    background: gray;
    height: 1px;
    flex: 1;
    content: '';
}


.ArticleImage {
    max-height: 300px !important;
    max-width: 100% !important;
    margin: 0 auto;
}

.SNShareButton, .SNShareButton:before, .SNShareButton:after, .fab {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

    .SNShareButton{
        position: relative;
    }
    .SNShareButton:before, .SNShareButton:after {
        content: '';
        will-change: transform;
    }
        .SNShareButton:before {
            /*background: url(https://cbwconline.com/IMG/Codepen/Plus-Light-Blue.svg) center/28px no-repeat;*/
            z-index: 5;
            -webkit-transition: 0.3s;
            transition: 0.3s;
        }
    .SNShareButton:after {
        background: #fff;
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        z-index: -1;
        -webkit-transition: 0.39s;
        transition: 0.39s;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .SNShareButton.active:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .SNShareButton.active:after {
        width: 3000px;
        height: 3000px;
    }

        .SNShareButton:after {
            background: #fff;
            -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            z-index: -1;
            -webkit-transition: 0.39s;
            transition: 0.39s;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .SNShareButton.active:before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .SNShareButton.active:after {
            width: 3000px;
            height: 3000px;
        }

.fab {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-animation: 0.3s down forwards;
    animation: 0.3s down forwards;
    opacity: 0;
    will-change: animation;
}

    .fab:nth-child(1) {
        background-color: #1DA1F2;
        top: -80px;
    }


    .fab:nth-child(2) {
        background: #3B5998;
        top: -40px;
    }

    .fab:nth-child(3) {
        background: #DB4437;
    }

    .fab.active {
        -webkit-animation: 0.48s up forwards;
        animation: 0.48s up forwards;
    }

        .fab.active:nth-child(1) {
            -webkit-animation-delay: 0.39s;
            animation-delay: 0.39s;
        }

        .fab.active:nth-child(2) {
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }

    .fab.no {
        -webkit-animation: none;
        animation: none;
    }

@-webkit-keyframes up {
    50% {
        -webkit-transform: translateY(-170%);
        transform: translateY(-170%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(-130%);
        transform: translateY(-130%);
    }
}

@keyframes up {
    50% {
        -webkit-transform: translateY(-170%);
        transform: translateY(-170%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(-130%);
        transform: translateY(-130%);
    }
}

@-webkit-keyframes down {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-130%);
        transform: translateY(-130%);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        top: 0;
    }
}

@keyframes down {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-130%);
        transform: translateY(-130%);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        top: 0;
    }
}

.circleButton {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.SmallHaynyBtn {
    min-width: 100px;
    text-align: center;
    padding: 5px;
    background-color: #ff4444;
    color: white;
    text-decoration: none !important;
}

.SmallHaynyBtn:hover {
   font-weight: bold;
   color: white;
}