@font-face{
    font-family: "FjallaOne";
    src: url("Fonts/FjallaOne-Regular.ttf")

}
@font-face {
    font-family: "Italianno";
    src: url("Fonts/Italianno-Regular.ttf")
}
@font-face {
    font-family: "Roboto";
    src: url("Fonts/Roboto-Regular.ttf")
}   
body {
    background-color: #eeeeee;
}

.bg-purple {
    background-color: #742377;
    color: white;
}


.text-black {
    color: black;
}
.fg-purple {
    color: #742377;
}

#NavLogo {
    width: 250px;
    height: 70px;
    margin-left: 50px;
}

.RegisterFormContainer {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}
.control-label {
    color: #292929;
}

.haynyBtn{
    padding: 5px;
    border: none;
    text-decoration: none !important;
}

    .haynyBtn.bg-purple:hover {
        background-color: #561a59;
        color: white;
    }

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}

.returnButton {
    color: white;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: right 0.5s;
    outline: none !important;
}

.returnButton:hover{
    right: 20px;
}

.hr-text:before {
    content: '';
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#d9534f), to(transparent));
    background: linear-gradient(to right, transparent, #d9534f, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

    .hr-text:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        color: black;
        padding: 0 .5em;
        line-height: 1.5em;
        color: #d9534f;
        background-color: #fcfcfa;
    }
    .rb{
        border-right: 1px solid white;
    }

.modal-lg{
    max-width: 90% !important;
}

.TitleInput {
    width: 100%;
    font-family: sans-serif;
    border: none;
    font-size: 32px;
    outline: none !important;
}

.ExpandingTextArea {
    resize: none;
    overflow: hidden;
}

#accordion{
    width: 100%;
}

.SettingHeader{
    border-radius: 0 !important;
    background-color: white !important;
}

.flip180 {
    transform: rotate(-180deg);
}

.flip90Positive {
    transform: rotate(90deg);
}
.SettingHeaderArrow {
    margin-right: 0;
    margin-left: auto;
    color: #ff4444;
    text-align: right;
    transition: all 1s ease;
}

    .SettingHeaderArrow:hover {
        color: #CC0000
    }

.SettingHeader a {
    color: #ff4444;
    text-decoration: none;
    transition: all 1s ease;
}

.SettingHeader a:hover {
    color: #CC0000;
}
.flip90egative {
    transform: rotate(-90deg);
}

.ImagePreviewContainer{
    min-height: 150px;
}

.snackbar {
    visibility: hidden; 
    min-width: 250px;
    margin-left: -125px; 
    background-color: #333; 
    color: #fff;
    text-align: center; 
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}


    .snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.FechaArticulo{
    display: flex;
    align-items: center;
    justify-content:center;
}
.articulo {
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.PageLink {
    color: #ff4444;
    text-decoration: none !important;
}

    .PageLink:hover {
        font-weight: bold;
        color: #ff4444;
    }

.LowImportance{
    font-size: 14px;
    color: gray;
}

.FechaArticulo span {
    background: #fff;
    color: gray;
    margin: 0 15px;
    font-size: 14px;
}

.FechaArticulo:after {
    background: gray;
    height: 1px;
    flex: 1;
    content: '';
}


.ArticleImage {
    max-height: 300px !important;
    max-width: 100% !important;
    margin: 0 auto;
}

.SNShareButton, .SNShareButton:before, .SNShareButton:after, .fab {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

    .SNShareButton{
        position: relative;
    }
    .SNShareButton:before, .SNShareButton:after {
        content: '';
        will-change: transform;
    }
        .SNShareButton:before {
            /*background: url(https://cbwconline.com/IMG/Codepen/Plus-Light-Blue.svg) center/28px no-repeat;*/
            z-index: 5;
            -webkit-transition: 0.3s;
            transition: 0.3s;
        }
    .SNShareButton:after {
        background: #fff;
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        z-index: -1;
        -webkit-transition: 0.39s;
        transition: 0.39s;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .SNShareButton.active:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .SNShareButton.active:after {
        width: 3000px;
        height: 3000px;
    }

        .SNShareButton:after {
            background: #fff;
            -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            z-index: -1;
            -webkit-transition: 0.39s;
            transition: 0.39s;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .SNShareButton.active:before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .SNShareButton.active:after {
            width: 3000px;
            height: 3000px;
        }

.fab {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-animation: 0.3s down forwards;
    animation: 0.3s down forwards;
    opacity: 0;
    will-change: animation;
}

    .fab:nth-child(1) {
        background-color: #1DA1F2;
        top: -80px;
    }


    .fab:nth-child(2) {
        background: #3B5998;
        top: -40px;
    }

    .fab:nth-child(3) {
        background: #DB4437;
    }

    .fab.active {
        -webkit-animation: 0.48s up forwards;
        animation: 0.48s up forwards;
    }

        .fab.active:nth-child(1) {
            -webkit-animation-delay: 0.39s;
            animation-delay: 0.39s;
        }

        .fab.active:nth-child(2) {
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }

    .fab.no {
        -webkit-animation: none;
        animation: none;
    }

@-webkit-keyframes up {
    50% {
        -webkit-transform: translateY(-170%);
        transform: translateY(-170%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(-130%);
        transform: translateY(-130%);
    }
}

@keyframes up {
    50% {
        -webkit-transform: translateY(-170%);
        transform: translateY(-170%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(-130%);
        transform: translateY(-130%);
    }
}

@-webkit-keyframes down {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-130%);
        transform: translateY(-130%);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        top: 0;
    }
}

@keyframes down {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-130%);
        transform: translateY(-130%);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        top: 0;
    }
}

.circleButton {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 0px solid transparent;
    outline: none !important;
}

.SmallHaynyBtn {
    min-width: 100px;
    text-align: center;
    padding: 5px;
    background-color: #ff4444;
    color: white;
    text-decoration: none !important;
}

.SmallHaynyBtn:hover {
   font-weight: bold;
   color: white;
}

.gray-text {
    color: #616161;
}

.ArtitleTitleLink{
    text-decoration: none !important;
    color: black;

}

.ArticuloDetalleContainer{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.ShareArticle {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 8px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    opacity: 0.75;
    transition: opacity 0.15s linear;
}
.ShareArticle:hover {
        opacity: 1;
        color: white;
}

    .ShareArticle i {
        position: relative;
        top: 40%;
        transform: translateY(-50%);
    }

.facebook {
    background: #3b5998;
}

.twitter {
    background: #55acee;
}

.googleplus {
    background: #dd4b39;
}

.DivRowImage {
    background: radial-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) ), url("/Content/Images/HaynyPq.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-position: center center;
    background-size: contain;
    height: 100vh;
}

.DivRowImageForeground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.ImageBannerTextTitle {
    font-size: 4em;
    font-family: "FjallaOne";
}

.fnt-Italianno {
    font-family: Italianno;
}

.fnt-Fjalla {
    font-family: "FjallaOne";
}
.fnt-Roboto {
    font-family: "Roboto";
}
.fnt-serif {
    font-family: serif;
}
.ImageBannerTextSubTitle {
    font-size: 2em;
    opacity: 0;
    font-family: "FjallaOne";
}

#btnSolicitarCita{
    opacity: 0;
    font-family: "FjallaOne";
    font-size: 1em;
    text-decoration: none;
}

    #btnSolicitarCita:hover {
        background-color: #561a59;
        color: white;
    }

#mapaConsultorioHayny{
    width: 100%;
    height: 500px;
    background-color: gray;
}


.SummaryDiv {
    background-color: white;
    min-height: 400px;
}

.DetailsDiv {
    background-color: white;
    min-height: 400px;
    position: relative;
    top: -400px;
    margin-bottom: -400px;
    overflow: hidden;
    right: 100%;
    transition: right 1s;
}

    .DetailsDiv.Showed {
        right: 0%;
    }

.SummaryElement {
    transition: color 0.9s, background-color 0.9s;
    cursor: pointer;
    color: #742477;
    width: 25%;
}

.SummaryDivTitle {
    display: table;
    white-space: nowrap;
    border-spacing: 25px 0;
}

    .SummaryDivTitle:before, .SummaryDivTitle:after {
        content: "";
        display: table-cell;
        width: 50%;
        background: -webkit-linear-gradient(#742477, #aaa) repeat-x left center;
        background: -moz-linear-gradient(#742477, #aaa) repeat-x left center;
        background: -ms-linear-gradient(#742477, #aaa) repeat-x left center;
        background: linear-gradient(#742477, #aaa) repeat-x left center;
        background-size: 1px 1px;
    }

.SummaryElement:hover {
    background-color: #742477;
    color: white;
}

.SummaryElementDescription {
    display: none;
}

.DetailsDivImageContainer {
    width: 30%;
}


.DetailsDivDescriptionContainer {
    width: 70%;
}