<div class="col-md-2 AdminMenu p-0" style="">
    <div class="py-1 AdminMenuItem">
        <a href="@Url.Action("Usuario","Admin")" class="w-100 p-2 HaynyLink d-block"><i class="fa fa-user-circle"></i>  Usuarios</a>
    </div>
    <div class="py-1 AdminMenuItem">
        <a href="@Url.Action("Cita","Admin")" class="w-100 p-2 HaynyLink d-block"><i class="fa fa-calendar"></i>  Citas</a>
    </div>
    <div class="py-1 AdminMenuItem">
        <a href="#" class="w-100 p-2 HaynyLink d-block"><i class="fa fa-shopping-bag"></i>  Tienda</a>
    </div>
    <div class="py-1 AdminMenuItem">
        <a href="#" class="w-100 p-2 HaynyLink d-block"><i class="fa fa-comment"></i>  Blog</a>
    </div>
</div>