@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="NavIcon DropDownContainer">
        <a href="#" class="dropdown-toggle" id="userDropDown" data-toggle="dropdown">
            <div class="d-flex align-items-center">
                <i class="fa fa-user fa-lg"></i>
            </div>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @Html.ActionLink("Salir", "LogOff", "Account", null, new { @class = "dropdown-item" })
            @Html.ActionLink("Ajustes", "Manage", "Account", null, new { @class = "dropdown-item" })

        </div>
    </div>
}
else
{
    <div class="NavIcon DropDownContainer">
        <a href="#" class="dropdown-toggle" id="userDropDown" data-toggle="dropdown">
            <div class="d-flex align-items-center">
                <i class="fa fa-user fa-lg" ></i>
            </div>
            <!--<i class="fa fa-user-circle" aria-hidden="true"></i>-->
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @Html.ActionLink("Inicia Sesión", "Login", "Account", null, new { @class = "dropdown-item" })
            @Html.ActionLink("Regístrate", "Register", "Account", null, new { @class = "dropdown-item" })

        </div>
    </div>
}
