@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="NavIcon DropDownContainer">
        <a href="#" class="dropdown-toggle" id="userDropDown" data-toggle="dropdown">
            <i class="fa fa-user-circle" aria-hidden="true"><i class="ml-2 fa fa-caret-down" aria-hidden="true"></i></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @Html.ActionLink("Salir", "LogOff", "Account", null, new { @class = "dropdown-item" })
            @Html.ActionLink("Ajustes", "Manage", "Account", null, new { @class = "dropdown-item" })

        </div>
    </div>
}
else
{
    <div class="NavIcon DropDownContainer">
        <a href="#" class="dropdown-toggle" id="userDropDown" data-toggle="dropdown">
            <i class="fa fa-user-circle" aria-hidden="true"><i class="ml-2 fa fa-caret-down" aria-hidden="true"></i></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @Html.ActionLink("Inicia Sesión", "Login", "Account", null, new { @class = "dropdown-item" })
            @Html.ActionLink("Regístrate", "Register", "Account", null, new { @class = "dropdown-item" })

        </div>
    </div>
}
