<table style="width: 100%; font-family: sans-serif">
    <tr>
        <td align="center" style="background-color:
#742377; padding: 20px">
            <table style="background-color: white; width: 80%; padding: 10px 10px">
                <tr>
                    <td align="center"><img style="width: 50%; height: auto;" src="cid:LogoHayny" alt=""></td>
                </tr>
                <tr>
                    <td>
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td>
                    @RenderBody()    
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr></tr>

</table>