@model ErrorViewModel
@{
    ViewBag.Title = "ErrorView";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5 text-center " style="color: #444444">
            <span ><i class="fa fa-frown-o fa-5x"></i></span>
            <h2>@Model.Summary</h2>
            <p>@Model.Description</p>
        </div>
    </div>
</div>
