@{
    ViewBag.Title = "Home Page";
}

<div class="row VideoLiveContainer bg-dark py-3 h-100" style="display: none">
    <div class="col-md-10 py-2 offset-md-1 bg-white fg-purple material-shadow text-center fnt-Fjalla">
        <h3 class="font-weight-bold">
            Hayny en vivo
        </h3>
    </div>
    <div class="col-md-12 my-3" id="VideoLive">

    </div>
</div>

<div class="row my-3">
    <div class="col-md-10 py-2 offset-md-1 bg-white fg-purple material-shadow text-center fnt-Fjalla">
        <h3 class="font-weight-bold">
            Ultimos videos
        </h3>
    </div>
</div>
<div class="row VideoContainer py-4">
</div>

@section scripts{
    <script>
        
        var ajaxVideos = $.get("https://www.googleapis.com/youtube/v3/search?part=snippet&channelId=UCspPMJn7Igtu0wBck3JNNdg&maxResults=3&order=date&type=video&key=AIzaSyDDeN4HSjQCeTc-2xptNHY0kHVD0v_m5Qg", )
        //GET https://www.googleapis.com/youtube/v3/search?part=snippet&channelId={CHANNEL_ID}&maxResults=10&order=date&type=video&key={YOUR_API_KEY}

        var ajaxVideoLive = $.get("https://www.googleapis.com/youtube/v3/search", {
            'eventType': 'live',
            'maxResults': '1',
            'part': 'snippet',
            'channelId': 'UCspPMJn7Igtu0wBck3JNNdg',
            'type': "video",
            'order': 'date',
            'key': 'AIzaSyDDeN4HSjQCeTc-2xptNHY0kHVD0v_m5Qg'
        })

        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var reproductores = [];
        var videoEnVivo;
        function onYouTubeIframeAPIReady() {
            ajaxVideoLive.done(function (retorno) {
                videos = retorno.items;
                if (videos.length > 0) {
                    $(".VideoLiveContainer").show();
                    videoEnVivo = new YT.Player("VideoLive", {
                        width: "100%",
                        height: $(window).height() / 1.2,
                        videoId: videos[0].id.videoId,
                        events: {
                            'onStateChange': VideoRediccionado,
                        }
                    })
                }
            });

            ajaxVideos.done(function (retorno) {
                videos = retorno.items;
                for (var i = 0; i < videos.length; i++) {
                    let id = "Reproductor" + i;
                    $(".VideoContainer").append(
                        $("<div>", {
                            "class": "col-md",
                            "id": id
                        })
                    );
                    reproductores.push(
                        new YT.Player(id, {
                            height: "300px",
                            width: "100%",
                            videoId: videos[i].id.videoId
                            //events: {
                            //    'onReady': onPlayerReady,
                            //    'onStateChange': onPlayerStateChange
                            //}
                        })
                    );
                }
            })

            player = new YT.Player('player', {
                height: '390',
                width: '100%',
                videoId: 'M7lc1UVf-VE',
                //events: {
                //    'onReady': onPlayerReady,
                //    'onStateChange': onPlayerStateChange
                //}
            });
        }

        function VideoRediccionado(event) {
            if (event.data == 3) {
                window.location = event.target.getVideoUrl();   
            }
        }

    </script>
}